<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin Kidchob's Portfolio</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('navbar') %>
    <section class="about-wrapper no-top">
        <div class="about-project-wrapper about-left about-background-one">
            <div class="column">
                <div class="wrap-content">
                    <h2 class="about-h2">About<br><strong>Justin Kidchob</strong></h2>
                    <p class="about-p">A New Jersey-based Web Developer focusing on designing , creating , and solving problems.</p>
                </div>
            </div>
        </div>
        <div class="about-project-wrapper about-center">
            <div class="wrapper-info">
                <div class="wrap-content">
                    <h2 class="column-h2">About my work</h2>
                    <p class="column-p">I work with forward-thinking people to design and build interactive, accessible websites and products. From projects that involve Web Hosting, SEO integration, or back end development, I've devoted years into making the web a little bit brighter.</p>
                </div>
            </div>
        </div>
        <div class="about-project-wrapper about-left about-background-two">
            <div class="column">
                <div class="wrap-content">
                    <h2 class="about-h2">Designing mock pages</h2>
                    <p class="about-p">React, Figma, Adobe XD, and Adobe Photoshop are design tools I wield to bring digital concepts to life.</p>
                </div>
            </div>
        </div>
        <div class="about-project-wrapper about-center">
            <div class="wrapper-info">
                <div class="wrap-content">
                    <h2 class="column-h2">Back-end framework</h2>
                    <p class="column-p">My HTML, CSS, JavaScript, and Java skills enable me to build visually appealing and functional user interfaces</p>
                </div>
            </div>
        </div>
        <div class="about-project-wrapper about-left about-background-three">
            <div class="column">
                <div class="wrap-content">
                    <h2 class="about-h2">Ecommerce integration</h2>
                    <p class="about-p">With Shopify, I expertly craft e-commerce solutions, optimizing storefronts and enhancing user experiences.</p>
                </div>
            </div>
        </div>
        <%- include('footer') %>
    </section>
</body>
</html>