<footer>
    <div class="footer-wrapper">
        <h3>Justin's Portfolio</h3>
        <a href="https://linkedin.com/in/justin-kidchob-2080b21b2">Linkedin</a>
        <a href="https://github.com/juskid/">Github</a>
        <a href="images/JustinKidchobResumeFinal.docx.pdf" download="JustinKidchobResume.pdf">Download Resume</a>
    </div>
</footer>